src/views
src/assets
src/i18n
src/scripts
src/includes

public/app.min.js
public/assets

tasks
node_modules
.sass-cache

.eslintrc
.editorconfig
*.css.map
npm-debug.log
config.rb
package.json
LICENSE.txt
Gruntfile.js

